<p>
  <label for="settings_idobata_webhook_url">Idobata Webhook URL</label>
  <input type="text" id="settings_idobata_webhook_url" size=80 value="<%= settings['idobata_webhook_url'] %>" name="settings[idobata_webhook_url]" />
</p>
<p>
  "Idobata Webhook URL"という名前で<a href="/custom_fields/new?type=ProjectCustomField">プロジェクトのカスタムフィールド</a>を作成することで<br/>
  プロジェクトごとにWebhookURLを設定できます。
</p>
